.item {
  position: relative;
  width: 92px;
  height: 80px;
  border-radius: 12px 0px 0px 12px;
  display:flex;
  flex-direction: column;
}

.item-gray{
  background-color: var(--gray-dark);
}

.item-dark{
  background-color: var(--dark);
}

.inner{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 56px;
  height: 56px;
  left: 13px;
  top: 12px;
  /* border: 1px solid var(--light); */
  border-radius: 8px;
}

.item-unselected {
  background-color: var(--dark);
  color: var(--primary-color);
}

.item-selected {
  background-color: var(--primary-color);
  color: var(--light);
}

.square {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--dark);
  right: 0;
}

.curve-top {
  top: -12px;
}

.curve-bot {
  bottom: -12px;
}

.curve-top::before {
  content:'';
  position:absolute;
  width: 12px;
  height: 12px;
  background-color: var(--dark);
  border-radius: 0px 0px 12px 0px;
}

.curve-bot::before{
  content:'';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--dark);
  border-radius: 0px 12px 0px 0px;
}

.curve-bot-selected {
  background-color: var(--gray-dark);
}

.curve-top-selected {
  background-color: var(--gray-dark);
}