:root {
  --primary-color: #ea7c69;
  --light: #ffffff;
  --gray-light: #abbbc2;
  --dark: #1f1d2b;
  --gray-dark: #252836;
  --orange: #ffb572;
  --red: #ff7ca3;
  --green: #50d1aa;
  --blue: #65b0f6;
  --purpil: #9288e0;
}

.class1 {
  position: relative;
  width: 92px;
  height: 80px;
  border-radius: 12px 0px 0px 12px;
  background-color: var(--dark);
}

.class2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 56px;
  height: 56px;
  left: 12px;
  top: 13px;
  /* border: 1px solid var(--light); */
  border-radius: 8px;
  background-color: var(--dark);
  color: var(--primary-color);
}

.curve-top {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--dark);
  right: 0;
  top: -12px;
  /* border: 1px solid var(--light); */
}

.curve-top::before {
  content:'';
  position:absolute;
  width: 12px;
  height: 12px;
  background-color: var(--light);
  border-radius: 0px 0px 12px 0px;
  /* border: 1px solid var(--green); */
}

.curve-bot {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--dark);
  right: 0;
  bottom: -12px;
}
.curve-bot::before{
  content:'';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--light);
  border-radius: 0px 12px 0px 0px;
}
